* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 1500px;
  margin: auto;
}

header {
  width: 1500px;
  height: 100px;
  margin-top: 20px;
  display: flex;
}

nav{
  width: 1500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > section:nth-of-type(1),
nav > section:nth-of-type(3){
  flex-basis: 10%;
}

header section:nth-of-type(2) {
  flex-basis: 80%;
}

#home-logo {
  width: 60px;
}

header section {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;

  border-radius: 5px;
  transition-duration: .2s;
}

section li {
  display: flex;
}

#app-down {
  width: 90px;
  height: 30px;
  background-color: coral;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 6%;
}

#app-down:hover {
  cursor: pointer;
}

select[name="nav-select"] {
  border: 0;
  font-size: 18px;
  font-weight: bold;
}

.sub-header {
  
  width: 1500px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  flex-basis: 10%;
  height: 100%;
}

.location > fieldset {
  background-color: #ddd;
  height: 42px;
  width: 150px;
  border-radius: 20px;
  border: 0;

  display: flex;
  align-items: center;
}

.location a {
  text-decoration: none;
}

#location-button {
  height: 25px;
  width: auto;
  border: 0;
  background-color: transparent;
  outline: none;
  }

#location-select {
  border: 0;
  background-color: #ddd;
  font-size: 18px;
  font-weight: bold;
}

.search {
  flex-basis: 90%;
  height: 100%;
}

.search fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;

}

form[name="search-form"] {
  display: flex;
  justify-content: center;
}


form[name="search-form"] section:nth-of-type(1) {
  display: flex;
  
}
form[name="search-form"] section:nth-of-type(2) {
  display: flex;
  align-items: center;
}




#firstfloor {
  border: 1px solid #ddd;
  width: 1400px;
  height: 42px;
  border-radius: 30px;
  display: flex;
}

#select-menu {
  width: 150px;
  font-size: 18px;
  border: none;
  padding-left: 20px;
  background-color: transparent;
  font-weight: bold;
  text-align: justify;
}


#query {
  width: 1250px;
  font-size: 18px;
  border: none;
}

#search-button {
  width: 40px;
  height: 40px;

  background-color: black;
  border-radius: 20px;
  color: white;
}