@font-face {
    font-family: 'GanaChocolate';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    }

* {
   font-family: 'GanaChocolate';
   box-sizing: border-box;
  }
  header{
    margin: 50px 0;
    background-color: beige;

  }
  header > .menu-list > ul{
    display: flex;
    justify-content: space-between;  
    padding: 0;
  }
  header > .menu-list > ul > li{
    list-style: none;
    
  }
  a{
    text-decoration: none;
    color:black;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .2s;
  }
  a:hover {
    color: slategray;
  }

  #container{
    height: 100%;
    width: 1140px;
    margin: auto;
  }
  #container > #content{
    display: flex;
    height: 100%;
  }
  #my_info{
    flex-basis: 30%;
    background-color: blanchedalmond;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #my_info > ul > li {
    list-style: none;
    height: 30px;
  }
  #my_pic{
    width: 200px;
    border-radius: 5px;
  }
  #content_detail{
    flex-basis: 70%;
    padding: 10px;
   }

  #about_me > img {
    width: 400px;
    height: 450px;
  }

  #project > a > i {
    width: 75px;
    height: 75px;
    color: rgb(83, 209, 241);
  }
  #contact{
    background-color: seashell;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
  }

  input[name="inputName"],
  input[name="inputEmail"],
  input[name="inputTel"] {
    width: 350px;
    height: 30px; 
  }
#contact-form > button {
  width: 100px;
  height: 25px;
}
#textarea{
  height: 200px;
  width: 700px;
}