/*
CSS 파일
파일 전체가 <style> 태그 내부라고 생각
*/

/* 기본 속성 선택자 */
div[name="name-1"] {
  background-color: red;
}

p[test="test"] {
  color: blue;
}

[name="name-2"] {
  background-color: green;
}

/* 자식 선택자 : > */

#parent-ul > li {
  background-color: orange;
}

#parent-ul > li > span {
  background-color: red;
}
/* #parent-ul > span 이렇게는 바로 아래의 자식이 아니라 안됨 */

/* 후손 선택자 : 띄어쓰기 */
#parent-ul span {
  color: magenta;
}

#test-div p {
  background-color: aqua;
}

/* 반응 선택자 */
.div-cls {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background-color: gray;
  
  /* 아래쪽 요소와의 간격 == 아래쪽 여백 30px 지정 */
  margin-bottom: 30px;

  /* 요소에 마우스 커서가 올라가면 손가락 모양으로 변경 */
  cursor: pointer;
}

#active-test:active {
  background-color: yellow;
}

#hover-test:hover {
  background-color: pink;
  width: 300px;
  height: 300px;
}

#hover-test {
  /*
  id가 hover-test인 요소가 스타일의 변화를 일으키면 0.5초 동안 변해라

  transition : HTML 요소가 한 상태에서 다른 상태로 변할 때의 변화를
              부드럽게 만들어주는 애니메이션 효과
    => 점진적으로 몇 초에 걸쳐 변하도록..!
  */  
  transition-duration: 0.7s;
}

/* 상태 선택자 */
#focus-test:focus {
  background-color: rgba(200, 219, 89, 0.863);
}

input[name="fruits"]:checked {
  width: 30px;
  height: 30px;

  /* radio, checkbox는 크기를 제외한 스타일 적용 불가 
    브라우저가 기본으로 지정해 둔 스타일이 있기 때문 */
  background-color: rebeccapurple; /* 이거 안된다~! */
}

#test-div2 > input:enabled {
  background-color: rgba(120, 172, 202, 0.295);
}

#test-div2 > input:disabled {
  background-color: rgba(164, 169, 173, 0.315);
}

/* 동위 선택자 */
#div1 + div {
  background-color: olive;
}

#div3 ~ div {
  background-color: darkorange;
}