* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 1140px;
  margin: auto;
}

header {
  height: 200px;
  display: flex;
}

header > section:nth-of-type(1),
header > section:nth-of-type(3) {
  flex-basis: 15%;
}

header > section:nth-of-type(2) {
  flex-basis: 70%;
}

#home-logo {
  width: 120px;
}

header > section:nth-of-type(1),
header > section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area {
  width: 500px;
}

.search-area fieldset {
  border: 2px solid #455ba8;
  border-radius: 5px;
  padding: 2px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 0; /* == none */
  outline: none; /* outline : input 태그에 포커싱 되었을 때 나타나는 바깥선 */
  flex-basis: 92%;
}

#search-btn {
  flex-basis: 8%;
  cursor: pointer;
  font-size: 20px;
  border: 0;
  background-color: transparent; /* transparent : 배경색 투명 */
  color: #455ba8;
}

nav {
  height: 50px;
  border-bottom: 2px solid black;

  position: sticky;
  /* sticky : 특정 스크롤 위치에 도달 시 요소가 고정되는 효과를 주는데 사용
   => top, bottom, left, right 속성 필수로 작성해야!
    bcuz 임계점 도달 시 어느 위치에 부착될 지 정해야 하므로 */
  top: 0;
  background-color: white;  
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li {
  flex-basis: 150px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;

  border-radius: 5px;
  transition-duration: .2s;
}

nav a:hover {
  background-color: #455ba8;
  color: white;
}

.content {
  display: flex;
}

.content-1 {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.content-2 {
  flex-basis: 30%;
}

.content-item {
  width: 90%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
}

.content-item > div {
  width: 100%;
  height: 200px;
}

.content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 이미지가 부모태그(div)에 맞춰지면서 비율을 유지하고,
  넘치는 부분은 잘리면서 이미지가 자동으로 가운데 정렬 됨! */
}

.content-item a {
  text-decoration: none;
  color: black;  
}

.content-item p {
  display: -webkit-box;
  /* webkit 전용 flexbox로 형태 출력
    => 줄 수 제한 기능을 위한 준비 (기사의 3 줄만 출력되도록..) */
  -webkit-line-clamp: 3;
  /* 텍스트를 최대 3 줄까지만 출력되도록 설정 */
  -webkit-box-orient: vertical;
  /* 텍스트 방향 세로로 줄 세움 */
  overflow: hidden;
  /* 3 줄 이후의 텍스트는 출력되지 않고 숨김 */
}

form[name="login-form"] {
  height: 130px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

#id-pw-area {
  flex-basis: 70%;
  
  display: flex;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
}

#id-pw-area > section:first-child {
  flex-basis: 75%;

  display: flex;
  flex-direction: column;
}

#id-pw-area > section:last-child {
  flex-basis: 25%;
}

#id-pw-area input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  border-right: 1px solid #ddd;
}

#id-pw-area input:first-child {
  border-bottom: 1px solid #ddd;
}

#id-pw-area button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#id-pw-area button:hover {
  background-color: #455ba8;
  color: white;
}

#id-pw-area input:focus {
  border: 2px solid #455ba8;
}

form[name="login-form"] > label {
  flex-basis: 30%;
  margin-top: 10px;
  font-size: 14px;
}

#signup-find-area {
  margin-left: 5px;
}

#signup-find-area > a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

#signup-find-area > span {
  padding: 0 10px;
}

footer {
  height: 200px;
  background-color: #a3add342;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > p {
  font-weight: bold;
}

footer > section > * {
  font-size: 14px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer span {
  padding: 0 10px;
}

/* 
미디어 쿼리(Media Query)

@media
미디어쿼리를 선언하는 키워드,
특정 조건(화면 크기)에 따라 CSS 스타일 적용 시 사용

all : 미디어 유형을 나타내는 부분(생략 가능, 보통 screen 많이 사용)으로,
     all은 모든 미디어 유형에 적용

(max width: 767px) : 반응형 모바일 기준
기기 화면 너비가 767px 이하일 때 해당 스타일 적용 => 스마트폰, 작은 태블릿 등에 적용하는 크기
*/

/* 모바일 : 화면 너비 767px 이하일 때 */
@media all and (max-width: 767px) {
  main {
    width: 100vw;
    /* vw : viewport width
      현재 뷰포트의 100%만큼 너비 차지 */
  }

  header {
    display: none;
  }

  nav {
    width: 100%;
    border-bottom: none;
    height: auto;
  }

  nav > ul {
    flex-direction: column;
  }

  nav li {
    flex-basis: auto;
    border-bottom: 1px solid #ddd;
  }

  .content {
    flex-direction: column;
  }

  .content-1 {
    justify-content: center;
    align-items: center;
  }

  .content-2 {
    padding: 20px;
  }

  footer p, footer > section > * {
    font-size: 12px;
  }
}

/* 태블릿 : 768px ~ 1023px 범위 */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* PC : 너비 1024px 이상 */
@media (min-width: 1024px) {

}