@font-face {
    font-family: 'GanaChocolate';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    }

* {
   font-family: 'GanaChocolate';
   box-sizing: border-box;
  }

body {
  margin: 0;
}



header {
  height: 200px;
  display: flex;
  
}

header > section:first-of-type {
  flex-basis: 30%;
}

.menu-list {
  flex-basis: 70%;
  justify-content: flex-end;
}

.menu-list > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header a {
  width: 300px;
  font-size: 25px;
  font-weight: bold;
  color: bisque;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;

  border-radius: 5px;
  transition-duration: .25s;
}

header a:hover {
  background-color: #5656;
  color: white;
}

main {
  width: 1140px;
  margin: auto;
  display: flex;
}

#basic {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

#basic > img {
  width: 220px;
  height: 300px;
}

#content {
  flex-basis: 70%;
}

form[name="contact-form"] {
  width: 1140px;
  margin-left: 225px;
}

#contact-form {
  border: none;

  display: flex;
  flex-direction: column;
}

input[name="inputName"],
input[name="inputemail"],
input[name="inputtel"] {
  width: 300px;
  height: 25px;
}

#contact-form > textarea {
  width: 600px;
  height: 150px;
}

#contact-form > button {
  width: 100px;
  font-size: 15px;
  font-weight: bold;
}

nav {
  border-bottom: 2px solid black;
  position: sticky;
  bottom: 0;
}